name: CLI CI


permissions:
  contents: read
on:
  push:
    branches: ["main"]
    tags: ["*"]
  pull_request:
    branches: ["main"]

defaults:
  run:
    working-directory: '.'


jobs:
  test:
    strategy:
      matrix:
        # TODO actually build this on different OS's, and compile the binaries separately
        os:
          - ubuntu-latest

          ##################################################################################################################################################
          # MacOS arm builds are currently not supported with setup-ffmpeg action, so we are sticking to macos-15 x86 builds                               #
          ##################################################################################################################################################
          - macos-15-intel

          ##################################################################################################################################################
          # Windows builds are currently disabled because path resolution doesn't seem to work                                                             #
          # Example: [vite]: Rollup failed to resolve import "~/inputs/lib/inputs_parsers.ts" from "D:\a\forager\forager\packages\core\src\inputs\mod.ts". #
          ##################################################################################################################################################
          # - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: canary

      - name: Setup FFMPEG
        uses: AnimMouse/setup-ffmpeg@v1
        with:
          version: "8.0"

      # - name: Lint
      # lint source code & jsr publish requirements. Currently disabled because we should get jsr published before addressing
      #   run: deno lint --ignore=deno_dependency_cache

      - name: "Install dependencies"
        run: deno install --allow-scripts

      - name: "Build @forager/web Dependency"
        run: deno task --cwd packages/web build

      - name: Test
        run: deno task --cwd packages/cli test

      - name: Compile Binary (Linux)
        if: runner.os == 'Linux'
        run: deno task --cwd packages/cli compile:os:linux

      - name: Compile Binary (Windows)
        if: runner.os == 'Windows'
        run: deno task --cwd packages/cli compile:os:windows

      - name: Compile Binary (macOS)
        if: runner.os == 'macOS'
        run: deno task --cwd packages/cli compile:os:macos

      - name: Upload Artifact (Compiled Binaries)
        uses: actions/upload-artifact@v4
        with:
          name: compiled-binary-${{ runner.os }}
          path: releases/binaries/
          retention-days: 1

  release:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref_type == 'tag'

    permissions:
      contents: write

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Download Artifacts (Compiled Binaries)
        uses: actions/download-artifact@v5
        with:
          pattern: "compiled-binary-*"
          path: releases/binaries/
          merge-multiple: true

      - name: Generate Release Notes
        run: |
          git log --pretty='%h %s' | sed 's/^/- /' > releases/CHANGELOG.md

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: "releases/binaries/*"
          body_path: releases/CHANGELOG.md


  # TODO uncomment publishing @forager/cli once we have proper support for raw byte imports in jsr https://github.com/denoland/deno/issues/29904
  # publish:
  #   runs-on: ubuntu-latest
  #   needs: test

  #   permissions:
  #     contents: read
  #     id-token: write

  #   steps:
  #     - name: Setup repo
  #       uses: actions/checkout@v4

  #     - name: Setup Deno
  #       uses: denoland/setup-deno@v2
  #       with:
  #         deno-version: canary

  #     - name: Publish package
  #       if: github.ref == 'refs/heads/main'
  #       run: deno publish
