name: Web CI


permissions:
  contents: read
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

defaults:
  run:
    working-directory: './packages/web'


jobs:
  test:
    strategy:
      matrix:
        # windows & mac is overkill for web tests, which essentially just builds the sveltekit project and type checks it
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: canary

      - name: Setup FFmpeg
        uses: AnimMouse/setup-ffmpeg@v1
        with:
          version: "8.0"

      # - name: Lint
      # run: deno task lint

      # - name: Typecheck
      # run: deno task check

      # package.json based projects need to run deno install step
      - name: Install Dependencies
        run: deno install --allow-scripts

      - name: Build
        run: deno task build

  # TODO uncomment publishing @forager/web once we have proper support for raw byte imports in jsr https://github.com/denoland/deno/issues/29904
  # publish:
  #   runs-on: ubuntu-latest
  #   needs: test

  #   permissions:
  #     contents: read
  #     id-token: write

  #   steps:
  #     - name: Setup repo
  #       uses: actions/checkout@v4

  #     - name: Setup Deno
  #       uses: denoland/setup-deno@v2
  #       with:
  #         deno-version: canary


  #     - name: Cache Deno dependencies 
  #       uses: actions/cache@v4
  #       with:
  #         path: ${{ env.DENO_DIR }}
  #         key: ${{ hashFiles(env.DENO_LOCKFILE) }}

  #     - name: Build
  #       run: deno task build

  #     - name: Publish package
  #       if: github.ref == 'refs/heads/main'
  #       run: deno publish --allow-slow-types
  #       working-directory: ./packages/web/adapter/lib
